* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ne-en.en-ne.t1x -text
/apertium-ne-en.en-ne.t2x -text
/apertium-ne-en.en-ne.t3x -text
/apertium-ne-en.en.dix -text
/apertium-ne-en.ne-en.dix -text
/apertium-ne-en.ne-en.t1x -text
/apertium-ne-en.ne-en.t2x -text
/apertium-ne-en.ne-en.t3x -text
/apertium-ne-en.ne.dix -text
/apertium-ne-en.ne.tsx -text
/autogen.sh -text
/configure.ac -text
dev/README -text
dev/adjective/adjective.ne.dix -text
dev/adjective/adjective.ne.speling -text
dev/adjective/newdix.txt -text
dev/adverb/adverb.ne.dix -text
dev/adverb/adverb.ne.speling -text
dev/adverb/newdix -text
dev/adverb/paradigm-chopper.py -text
dev/apertium-bn-en.bn.dix.xml -text
dev/apertium-ne-en.ne.dix -text
dev/conjunction/conjunction.ne.dix -text
dev/conjunction/conjunction.ne.speling -text
dev/conjunction/newdix.txt -text
dev/conjunction/paradigm-chopper.py -text
dev/determiner/determiner.ne.dix -text
dev/determiner/determiner.ne.speling -text
dev/determiner/newdix -text
dev/determiner/paradigm-chopper.py -text
dev/en-ne.autogen.bin -text
dev/ne-en.automorf.bin -text
dev/noun/newdix -text
dev/noun/noun.ne.dix -text
dev/noun/noun.ne.speling -text
dev/noun/paradigm-chopper.py -text
dev/paradigm-chopper.py -text
dev/paradigm-review.py -text
dev/pc.py -text
dev/postposition/newdix -text
dev/postposition/paradigm-chopper.py -text
dev/postposition/postposition.ne.dix -text
dev/postposition/postposition.ne.speling -text
dev/pronoun/newdix -text
dev/pronoun/paradigm-chopper.py -text
dev/pronoun/pronoun.ne.dix -text
dev/pronoun/pronoun.ne.speling -text
dev/proper-noun/newdix -text
dev/proper-noun/paradigm-chopper.py -text
dev/proper-noun/proper-noun.ne.dix -text
dev/proper-noun/proper-noun.ne.speling.txt -text
dev/speling-paradigms-py25.py -text
dev/speling-paradigms.py -text
dev/split-speling.py -text
dev/verb/backup_list.tar.gz -text
dev/verb/newdix -text
dev/verb/paradigm-chopper.py -text
dev/verb/speling-paradigms.py -text
dev/verb/verb.ne.dix -text
dev/verb/verb.ne.speling -text
/en-ne.prob -text svneol=unset#unset
/modes.xml -text
/ne-en.prob -text svneol=unset#unset
