/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/en-ne.autobil.bin
/en-ne.autogen.bin
/en-ne.automorf.bin
/en-ne.mode
/en-ne.t1x.bin
/en-ne.t2x.bin
/en-ne.t3x.bin
/install-sh
/missing
/modes
/ne-en.autobil.bin
/ne-en.autogen.bin
/ne-en.automorf.bin
/ne-en.mode
/ne-en.t1x.bin
/ne-en.t2x.bin
/ne-en.t3x.bin
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/*-*.prob
/.deps
/test/*-output.txt
